.glass{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink-0 h-3/4 w-[30%] rounded-3xl py-20 px-7 min-w-max;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}

.textbox{
    @apply border-[1px] border-slate-600 px-5 py-4 rounded-xl w-64 shadow-sm text-lg m-2;
    @apply focus:outline-none;
}
.textbox1{
    @apply border-[1px]  border-slate-500 px-5 py-4 rounded-xl w-64 shadow-sm text-lg m-2;
    @apply focus:outline-none;
}

.btn{
    @apply border bg-[#ba2020] w-64  py-4 rounded-lg text-gray-100 text-xl shadow-sm text-center justify-center;
}

.btn:hover{
    background-color: #cf1212;
}

input[type='file']{
    display: none;
}